body {
	font-size: large;
	 background-color: aquamarine;
	 padding:10px;
}
.mk{
    display:flex;
    align-item:center;
    justify-content:center;
    background-color:darkgray;
     padding: 25px 0 25px 0;
    background-position: 100%;

}

