body {
	font-size: large;
	 background-color: aquamarine;
}

.starter-template {
	text-align: center;
}

input {
	font-size: large;
	padding: 5px;
	margin: 5px;
	border: 1px solid red;
	width:100px;

}
#prompt{
width:650px;
}

fieldset {
	border: none;	
}

h1 {
	color:blue;
}

h2 {
	 color:Black;
}